  <form for="/books/<%= params[:kniga] %>" method="post">
    
    <div id="primaryContentContainer">
      <div id="primaryContent">
        <p align="center"><img width="200" 
    height="300" src="http://s3.amazonaws.com/Image_Books/<%= params[:kniga] %>.jpg" alt="С кагого то фига обложка не загрузилась"></p>
        <h1><p align="center"><%= @bookss_name %></p></h1>
        <span><%= @bookss_text %></span>
        <br>
        <br>
        <p><a href="https://s3.amazonaws.com/STALKER_RAR/<%= params[:kniga] %>.rar ">Скачать в fb2 <%= @bookss_name %></a></p>
        <hr>
        <br>
      <% if @k != nil %>
      <% i = 0 %>
      <% while i <= @k do %>
      <b><u><font  size="4"><%= @arr_login[i] %></font></u></b> написал(а) (<%= @arr_time[i] %>)
      <br>
      <span><i><font  size="4"><%=  @arr_text[i] %></font></i></span>
     <!-- <%= RedCloth.new("p=. __#{@arr_text[i]}__", [:filter_html]).to_html %>  -->
      <hr>
      <hr>
      <% i+=1 %>
      
      <% end %>
      <% end %>
        <!-- <p>Всего комментариев: </p> -->
        <textarea name="com_text" style="width:460px; height: 100px" ></textarea>
        <p align=right><input type="submit" name="comments" value="Добавить коментарий"></p>
       

      </div>
    </div>
    <div id="secondaryContent">
      <%= erb :reg %>
      <h3>Серия книг по вселенной S.T.A.L.K.E.R.</h3>
      <p>Список книг <a href="/books/spisok_ST">S.T.A.L.K.E.R</a></p>
      <p>Книги из серии <a href="/books/">S.T.A.L.K.E.R</a></p>
      <p>Фаники по <a href="/books/">S.T.A.L.K.E.R</a></p>
      </ul>
    </div>
    <div class="clear"></div>
 </form>
 