<title><%= @title1 ? @title1 : '' %></title>
Страница не найдена.
<p>НО!</p>
 <p>Осталось дней до ТОЭ: <strong><%= @dni ? @dni : '' %></strong>  или <strong><%= @dni2 ? @dni2 : '' %></strong>  часов или <strong><%= @dni3 ? @dni3 : '' %></strong> минут</p>
        <p>Осталось дней до ФИЗИКИ: <strong><%= @dn ? @dn : '' %></strong> или <strong><%= @dn2 ? @dn2 : '' %></strong>  часов  или <strong><%= @dn3 ? @dn3 : '' %></strong> минут</p>